<div class="sticky-header">
  <header class="main-banner">
    <!-- <div  class="main-banner"> -->
      <div class="main-overlay">
        <h1 style=" font-size: 2.0em; font-weight: bold; color: white;">Cognitive Robotics Lab</h1>
        <p>University of Arkansas</p>
      </div>
    <!-- </div> -->
  </header>

  <nav>
    <button class="hamburger" onclick="toggleMenu()">☰</button>
    <div class="menu " id="menu">
      <a href="/" class="active">Home</a>
      <a href="/team.html">Team</a>
      <a href="/publications.html">Publications</a>
      <a href="/joinus.html ">Join Us</a>
      <a href="/contact.html ">Contact</a>
    </div>
  </nav>
</div>