<div class="sticky-header">
  <header class="main-banner">
    <!-- <div  class="main-banner"> -->
      <div class="main-overlay">
      <a href="/">
        <h1 style=" font-size: 2.1em; font-weight: bold; color: white;">Cognitive Robotics Lab</h1>
        <p style=" font-size: 1.0em; font-weight: bold; color: white;">University of Arkansas</p>
      </a>
      </div>
    <!-- </div> -->
  </header>

  <nav>
    <button class="hamburger" onclick="toggleMenu()">☰</button>
    <div class="menu " id="menu">
      <a href="/" class="active">Home</a>
      <a href="/team/">Team</a>
      <a href="/publications/">Publications</a>
      <a href="/joinus/ ">Join Us</a>
      <a href="/contact/">Contact</a>
    </div>
  </nav>
</div>